<p><h1>Данные по клиенту и возврату товара </h1></p>
<p><h3>Имя: {{ name }}</h3></p>
<p><h3>Фамилия: {{ surname }}</h3></p>
<p><h3>E-Mail: {{ email }}</h3></p>
<p><h3>Телефон: {{ phone }}</h3></p>
<p><h3>№ заказа: {{ order }}</h3></p>
<p><h3>Дата заказа: {{ date }}</h3></p>
<p><h3>Наименование: {{ rename }}</h3></p>
<p><h3>Модель: {{ model }}</h3></p>
<p><h3>Количество: {{ amount }}</h3></p>
<p><h3>Причина: {{ cause }}</h3></p>
<p><h3>Распакован: {{ unpacked }}</h3></p>
<p><h3>Описание: {{ description }}</h3></p>
